---
layout: layout.liquid
title: 11ty Boilerplate
---
<div class="posts">
    <h3>1. Airfoil (ciechanow.ski)</h3>
    <p>1148 points by todasacerdoti 4 hours ago</p>
    <p> 115 Comments </p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>2. Amazon lobbyists to be banned from European parliament (uni-europa.org)</h3>
    <p>42 points by anigbrowl 16 minutes ago</p>
    <p> 8 Comments </p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>3. SuperTux (github.com/supertux)</h3>
    <p>61 points by florlangosse 1 hour ago</p>
    <p> 13 Comments </p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>4. Pure Programming Language (agraef.github.io)</h3>
    <p>56 points by tosh 2 hours ago</p>
    <p>4 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>5. Testing the F-35C Tailhook (the-engi-nerd.github.io)</h3>
    <p>239 points by sklargh 5 hours ago </p>
    <p>101 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>6. Ant Geopolitics (aeon.co)</h3>
    <p>196 points by romanintallhurat 7 hours ago</p>
    <p>61 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>7. Tesorio (YC S15) Is Hiring a Head of Infrastructure (100% Remote) (tesorio.com)</h3>
    <p>21 minutes ago</p>
    <p>0 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>8. The /unblock API from Browserless: dodging bot detection as a service (browserless.io)</h3>
    <p>75 points by keepamovin 3 hours ago</p>
    <p>65 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>9. I turned my open-source project into a full-time business (emailengine.app)</h3>
    <p>472 points by andris9 11 hours ago</p>
    <p>185 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>10. SpaceX discloses cause of Starship anomalies as it clears an FAA hurdle (arstechnica.com)</h3>
    <p>164 points by rbanffy 8 hours ago</p>
    <p>188 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>11. Blazer: Business inteligence made simple (github.com/ankane)</h3>
    <p>124 points by tosh 7 hours ago</p>
    <p>27 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>12. Apple cancels work on electric car, shifts team to generative AI (bloomberg.com)</h3>
    <p>405 points by coloneltcb 2 hours ago</p>
    <p>416 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>13. Synthetic data generation for tabular data (github.com/sdv-dev)</h3>
    <p>20 points by skadamat 2 hours ago</p>
    <p>1 Comment</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>14. Show HN: Mountaineer - Webapps in Python and React (github.com/piercefreeman)</h3>
    <p>82 points by icyfox 6 hours ago</p>
    <p>33 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>15. Show HN: I built an open-source data copy tool called ingestr (github.com/bruin-data)</h3>
    <p>78 points by karakanb 6 hours ago</p>
    <p>27 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>16. Dracula's Biggest Mistake (ayjay.org)</h3>
    <p>20 points by chesterfield 2 hours ago</p>
    <p>24 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>17. Consider the Pawpaw (beltmag.com)</h3>
    <p>55 points by PaulHoule 7 hours ago</p>
    <p>48 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>Why time seems to pass faster as we age (invertedpassion.com)</h3>
    <p>215 points by paraschopra 11 hours ago</p>
    <p>138 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>19. The Second Golden Age of Emacs (batsov.com)</h3>
    <p>78 points by ossusermivami 9 hours ago</p>
    <p>39 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <h3>20. Social Media First Amendment Cases (lawfaremedia.org)</h3>
    <p>55 points by Mjadams 7 hours ago</p>
    <p>140 Comments</p>
    <button>Hide</button>
    <hr class="rounded">
    <button class="nextBTN">Next Page</button>
</div>