---
layout: layout.liquid
title: 11ty Boilerplate
---
<div class="posts">
    <h3>1. Airfoil (ciechanow.ski)</h3>
    <p>1148 points by todasacerdoti 4 hours ago</p>
    <p> 115 Comments </p>
    <button>Hide</button>
    <h3>2. Amazon lobbyists to be banned from European parliament (uni-europa.org)</h3>
    <p>42 points by anigbrowl 16 minutes ago</p>
    <p> 8 Comments </p>
    <button>Hide</button>
</div>