html {
    background-color: #F2EDE2;
    font-family: 'Courier New', Courier, monospace;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 5%;
}

nav {
    background-color: #ff6600;
    margin: 0 auto;
    width: fit-content;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
}

nav a:hover {
    background-color: #ff6600;
    font-weight: 900;
}       

.posts {
    text-align: justify;
    margin: 0 auto;
    width: 50em;
}

button {
    color: #F2EDE2;
    background-color: #ff6600;
    border-color: #ff6600;
    width: 100px;
}
button:hover {
    background-color: white;
    color: black;
}

hr.rounded {
    border-top: 5px solid #bebebe;
    border-radius: 5px;
  }

.nextBTN {
    display: block;
    margin: auto;
    width: 200px;
}